/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS Reset */

body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif; 
	-webkit-font-smoothing: antialiased;
}
.content {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    border: 1px solid Chocolate;
    margin: 0 auto;
    width: 970px;
    padding: 0 15px;
}

/* Navigation Section */

.top-navigation {
	background-color: #fff;
	position: fixed;
	border-bottom: 1px #838994 solid; 
	width: 100%;
	z-index: 3;
}
.top-navigation > .content {
	height: 70px;

}

.top-navigation .logo {
	height: 70px;
}
/* I had margin-top:16px above instead of the height as 70, why does this work better?
	I also had it without the .top-navigation class added, only .logo.
	why is this better practice?*/

.top-navigation .links {
	float: right;
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	margin-top: 25px;
}

.top-navigation .links li {
	display: inline-block;
	margin-left:25px;
	transition: color .2s ease;
	
}

.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 600;
}

.top-navigation .links li:hover{
	color: #4c5058;
	cursor: pointer;
}

/* Large background and Introduction */

.introduction {
	background-image: url(/Users/Lindsey/THINKFUL/Projects/startup-landing-page-clone/img/first-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 576px;
	overflow: auto;
}

/**I had position: 0 bottom above... it worked fine. why center instead?
	also, background size of image is responsive, i got several different values, and
	the code given by thinkful is also different than mine and different than the
	"hint" in the lesson which says its just under 600px. **/


/* I had all of my heading tags style under the .content class instead of .introduction.  
	I suppose this made the css bulkier and repetitive as I had to change them down the road.
	*/

.introduction h1, 
			h3 {
	color: white;
	font-weight: 300;
	text-align: center;
}
.introduction h1 {
	font-size: 50px;
	margin-top: 250px;
}

.introduction h3 {
	font-size: 25px;
	margin-top: 20px;
}

/* buttons */
/* I had most styles applied to "button" element rather than within the class. I guess this
	would make things difficult later if there are more buttons.*/

/** MY ORIGINAL CSS, worked fine... Yet when changed to the Thinkful css file, the introduction text now moves along
the background and the buttons are not in line

button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	font-size: 16px;
	color: white;
	font-weight: 300;
	transition: background-color .2s ease;
	background-color: #ee5726;
}

button:hover {
	background-color: #d9400e;
	cursor: pointer;
}

.buttons{
border: 2px white solid;
width:340px;
margin-left: auto;
margin-right: auto;
margin-top: 32px;
}

.half-learn{
	border:2px white solid;
	float: left;

}

.half-watch {
	float:left;
	border: 2px white dashed;
	margin-top: 12px;
	margin-left: 24px;
	width: 160px;
	
}
.half-watch p {
display: inline-block;
position: relative;
top: 50%;
 transform: translate(0, -50%)

}
*/
.introduction .buttons{
color: white;
text-align: center;
margin-top: 25px;
}

.introduction .half {
	width: 49%;
	padding: 0 15px;
	display: inline-block;
	vertical-align: bottom;
	font-size: 18px;
	line-height: 1.2;
	}

.half-learn{
	text-align: right;
}

.half-watch {
	text-align:left;
	padding: 16px 24px;
	font-weight: 500;
	
}
.introduction .learn button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	color: white;
	font-size: 18px;
	width: 155px;
	background-color: #ee5726;
	border-color: #f15a29;
	transition: background-color .2s ease;
	

}

:focus{
	outline:none;
	}
/* what does the above do? */

.introduction .learn button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}


.introduction .watch img {
position: relative;
top: 10px;

}



.learn-more {
    width: 100px;
    height: 100px;
    position: relative;
    top: 65px;
    margin-left: auto;
    margin-right: auto;
     -webkit-animation: bounce 1.8s infinite;
    animation: bounce 1.8s infinite; 
}


 
 @-webkit-keyframes bounce { 
    0%, 50%, {-webkit-transform: translateY(0);} 
    50% {-webkit-transform: translateY(-30px);} 
 
} 
  
@keyframes bounce { 
    0%, 50% {transform: translateY(0);} 
    50% {transform: translateY(-30px);} 
} 
   
/* below introduction photo */

.cases {
	margin-top: 100px;
}
.cases .devices {
    width: 33%;
    float:left;
    display: inline-block;
    /* styles to assist with debugging */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    height: 4em;
    text-align: center;
    margin-top: 80px;

}

.cases .devices h3 {
	color: #1d1e21;
	font-size: 24px;
}
 .description {
	display: block;
	color: #4c5058;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.54;

 }

 /**cheat*/

 .social {
    background-color: #fff;
    padding-bottom: 150px;
    text-align: center;
 }

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 21px 0;
}
.social .icons > li {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 20px 5px;
    border: 1px solid #eaebec;
    padding: 10px 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}
.social .copy {
    font-size: 0.9em;
    font-weight: 300;
    color: #838994;
}


